@model IndexViewModel
@{
    ViewData["Title"] = "Zarządzaj swoim kontem";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Zmień ustawienia konta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Zmień</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Stwórz</a>
            }
        </dd>
        <dt>Nr telefonu:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Zmień</a>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Dodaj</a>
                }
        </dd>
        <dt>Adres:</dt>
        <dd>
            @Model.City, @Model.Street @Model.HouseNumber
            @if (Model.FlatNumber != null)
            {
                <span>/</span>@Model.FlatNumber

            }
                
            <a asp-controller="Manage" asp-action="ChangeAddress" class="btn-bracketed">Zmień</a>
        </dd>

    </dl>
</div>
