@model Pizzeria.ViewModels.BasketViewModel

@{
    ViewData["Title"] = "Koszyk";
}

<h2>Koszyk</h2>

<table class="table">
    <thead>
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
            </th>
            <th>
                Rodzaj
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].FinalValue)
            </th>
            <th>
                Ilość
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Products.Count(); i++)
        {
            <tr>
                <td>
                    <strong>
                        @Html.DisplayFor(modelItem => Model.Products[i].ProductName)
                    </strong>
                    @Html.Partial("_ProductDetailsPartial", new Pizzeria.ViewModels.ProductDetailsViewModel(
                        Model.Products[i].Components, Model.Products[i].AdditionalComponents, Model.Products[i].Weight))
                </td>
                <td>
                    @if (Model.Products[i].Size != null)
                    {
                        <span>ok </span>@Model.Products[i].Size<span>cm</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Products[i].FinalValue)
                </td>
                <td style="max-width:50px">
                    <form asp-action="EditProductInBasket">
                        <input type="hidden" name="productIndex" value="@i" />
                        <input name="quantityBtn" type="submit" class="btn-link" value="+" />
                        <input id="quantityInput" type="text" class="form-control" 
                                value="@Model.Products[i].Quantity" min="1" max="100" readonly="readonly" />
                        <input name="quantityBtn" type="submit" class="btn-link" value="-" />
                    </form>
                </td>
                <td>
                    <form asp-action="DeleteFromBasket">
                        <input type="hidden" name="productIndex" value="@i" />
                        <input type="submit" value="Usuń" class="btn btn-link" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div style="float:right">
    Wartość zamówienia: @Model.OrderPrice zł<br /><br />
    <a asp-action="DeliveryForm" class="btn btn-default">To wszystko, dostawa</a>
</div>



