@model List<Pizzeria.ViewModels.MyOrderViewModel>

@{
    ViewData["Title"] = "Moje zamówienia";
}

<h2>Moje zamówienia</h2>

<table class="table table-striped">
    <thead >
        <tr class="bg-primary">
            <th>@Html.DisplayNameFor(x => x[0].Value)</th>
            <th>@Html.DisplayNameFor(x => x[0].OrderDate)</th>
            <th>@Html.DisplayNameFor(x => x[0].ProductList)</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>@Html.DisplayFor(x => x[i].Value)</td>
                <td>@Html.DisplayFor(x => x[i].OrderDate)</td>
                <td>
                    @Html.Partial("_ProductsListPartial", Model[i].ProductList)
                </td>
            </tr>
        }
    </tbody>
</table>