@model Pizzeria.ViewModels.MenuViewModel

@if (Model.Menu[0].SubCategory != null)
{
    <h3>@Model.Menu[0].SubCategory</h3>
}
else
{
    <h3>@Model.Menu[0].Category</h3>
}

<table class="table">
    <thead>
        <tr class="bg-primary">
            <th>
                @Html.DisplayNameFor(model => model.Menu[0].ProductName)
            </th>
            @if (Model.Menu[0].Category.Equals("Pizza"))
            {
                @for (int i = 0; i < Model.Menu[0].Size.Count(); i++)
                {
                    <th style="text-align:right">
                        ok. @Html.DisplayFor(model => Model.Menu[0].Size[i])cm
                    </th>
                    @if (Model.UserRoles != null && Model.UserRoles.Contains("Admin"))
                    {
                        <th style="text-align:right"></th>
                    }
                }
            }
            else
            {
                <th style="text-align:right">
                    @Html.DisplayNameFor(model => model.Menu[0].Price)
                </th>
                @if (Model.UserRoles != null && Model.UserRoles.Contains("Admin"))
                {
                    <th style="text-align:right"></th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Menu)
        {
            <tr>
                <td>
                    <strong>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </strong>
                    @Html.Partial("_ProductDetailsPartial", new Pizzeria.ViewModels.ProductDetailsViewModel(
                        item.Components, null, item.Weight))
                </td>
                @foreach (var price in item.Price)
                {
                    <td style="text-align:right">
                        @if (Model.CanOrderProduct)
                        {
                            @Html.Partial("MenuPartialViews/AddProductToBasketPartial",
                            new ViewDataDictionary(this.ViewData) { { "ProductName", item.ProductName }, { "ProductCategory", item.Category }, { "Price", price } })
                        }
                        else
                        {
                            @Html.Partial("MenuPartialViews/DisplayPricePartial", price)
                        }
                    </td>
                    @if (Model.UserRoles != null && Model.UserRoles.Contains("Admin"))
                    {
                        <td style="text-align:right" width="100">
                            <form asp-action="Edit" method="get">
                                <input type="hidden" name="ProductName" value="@item.ProductName" />
                                <input type="hidden" name="Category" value="@item.Category" />
                                <input type="hidden" name="Price" value="@price" />
                                <input type="submit" value="Edytuj" class="btn btn-link" />
                            </form>
                            <form asp-action="Delete" method="get">
                                <input type="hidden" name="ProductName" value="@item.ProductName" />
                                <input type="hidden" name="Category" value="@item.Category" />
                                <input type="hidden" name="Price" value="@price" />
                                <input type="submit" value="Usuń" class="btn btn-link" />
                            </form>
                            <form asp-action="Details" method="get">
                                <input type="hidden" name="ProductName" value="@item.ProductName" />
                                <input type="hidden" name="Category" value="@item.Category" />
                                <input type="hidden" name="Price" value="@price" />
                                <input type="submit" value="Szczegóły" class="btn btn-link" />
                            </form>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
